/* font url import */
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Roboto:wght@100&display=swap');

/* styling used for the whole page */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* sets the general font for the whole page */
body {
    font-family: 'Roboto', sans-serif;   
    background-color: #e4dfd5;
}

/* General styling for the header element */
header {
    width: 100%;
    height: 150px;
    background-color: #739992;
}

/* logo styling */

/* places the logo in the upper left corner, gives it the font Gajraj One, and gives it a darker green color */
#logo {
    font-family: 'Gajraj One', sans-serif;
    float: left;
    font-size: 500%;
    margin: 0 0 0 50px;
    color: #1B5448;
}

/* navigationbar styling */

/* places the navigation bar next to the logo in the header element, puts a distance between the navigation links
and floats them to the left */
.navbar, li {
    float: left;
    font-size: 25px;
    font-weight: bold;
    list-style-type: none;
    margin: 0 0 0 50px;
}

/* makes sure that the navigation link stays green and doesnt turn into the typical blue color after clicked */
.navbar, a {
    text-decoration: none;
    color: #1B5448;
}

/* targets both the logo and navbar, getting them on the same lineheight */
#logo, .navbar {
    line-height: 120px;
}

/* General styling for the welcome class element */
.welcome {
    width: 100%;
    height: 500px;
    margin: 0 0 50px 0;
    background-color: #e4dfd5;
    overflow: hidden;

    position: relative;
}

/* adds in a wlecoming banner for the webpage */
#welcome-pic {
    background: url("../images/hero-image.jpg");
    width: 100%;
    height: 500px;
    
    /* animates zoom for welcome-pic */
    animation-name: pic-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* zoom for welcome-pic */
@keyframes pic-zoom {
    from{
        transform: scale(1);
    }to{
        transform: scale(1.05);
    }
}

/* styles the text-bubble that appears on top of the welcome banner for the webbpage, as well as sets its position as absolute
so it stays in place neatly over the banner */
#motto {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    width: 400px;
    height: 200px;

    padding: 40px 0 0 30px;
    background-color: #5ea999;

    bottom: 50px;
    left: 50px;
    position: absolute;

    border-radius: 40px;
} 

/* motto specific rules */
#motto h2 {
    font-family: 'Gajraj One', sans-serif;
    font-size: 150%;
    font-weight: 100;
    color: #1B5448;
    margin: 10px 0 0 0;
} /* styles the text inside the motto bubble */

#motto p {
    font-weight: 900;
    color: #1B5448;
    margin: 10px 0 0 0;
}

/* General styling for the description class element */
.description {
    width: 100%;
    height: 500px;
}

/* hte background shape for the who-am-i description */
#who-am-i {
    width: 400px;
    height: 400px;
    background-color: #5ea999;
    margin: auto;
    border-radius: 25%;
}

/* positios the text into the designated area */
#who-am-i-text {
    position: relative;
    margin: 0;
}

/* gives the h2 element the correct styling to fit the theme of the rest of the page */
#who-am-i-text h2 {
    text-transform: uppercase;
    font-family: 'Gajraj One', sans-serif;
    color: #1B5448;
    text-align: center;
    padding: 25px;
}

/* styles the paragraph element to fit into the designated box, as well as styles it to fit the rest of the pages theme */
#who-am-i-text p {
    height: 25%;
    line-height: 2;
    padding: 1px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #1B5448;
  }

/* membership and exercise plans, as well as sessions by themselves */
#memberships-nutrition {
    margin: 50px 50px;
    height: 500px;
}

/* places the memberships inside a box, while also positioning it to the left */
#membership {
    width: 45%;
    height: 500px;
    float: left;
    background-color: #5ea999;
    border-radius: 25px;
}

/* add styling to the text inside the membership div */
#membership h2 {
    color: #1B5448;
    font-family: 'Gajraj One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#membership p {
    font-size: 20px;
    font-weight: 900;
    color: #1B5448;
    padding: 20px 50px;
    text-align: left;
}

/* places the nutrition plans inside a box, while also positioning it to the right */
#nutrition-plans {
    width: 45%;
    height: 500px;
    float: right;
    background-color: #5ea999;
    border-radius: 25px;
}

/* General styling for the exercises class element */
#exercises {
    height: 500px;
    background-image: url("../images/exercise-bg.jpg");
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

/* shapes the container divs and gives them a darker opacity background */
#exercises div {
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 4%;
    text-align: center;
    border-radius: 5%;
    overflow: hidden;
}

/* adds the correct color and font to the header of the exercise-desc elements */
.exercise-desc h2 {
    color: #d8d1c4;
    font-family: 'Gajraj One', sans-serif;
}

/* adds the correct color and font weight to the paragraphs of the exercise-desc element */
.exercise-desc p {
    height: 25%;
    line-height: 2;
    padding: 1px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #d8d1c4;
}

/* General styling for the contact class element */
/* make three same sized boxes with even distance inbetween, all placed horizontally. these are containing the contact
information plus an image in the middle */
#contact {
    margin: 50px 50px;
    height: 250px;
}

/* email-form specific rules */
#review {
    width: 400px;
    height: 250px;
    float: left;
    background-color: #5ea999;
    border-radius: 25px;
}

#review h2 {
    font-family: 'Gajraj One', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #1B5448;
    padding: 10px;
    text-align: center;
}

/* email information specific rules */
#email {
    width: 400px;
    height: 250px;
    float: right;
    background-color: #5ea999;
    border-radius: 25px;
}

/* makes the h2 fit the theme of the page, as well as places it in the middle of the bubble, and increases its size */
#email h2 {
    font-family: 'Gajraj One', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #1B5448;
    padding: 10px;
    text-align: center;
}

/* makes the p element fit the rest of the theme of the page, as well as increases its size and font-weight to be more visible */
#email p {
    font-size: 20px;
    font-weight: 900;
    color: #1B5448;
    padding: 10px;
    text-align: center;
}

/* crossfit-image specific rules */
#crossfit-image {
    width: 400px;
    height: 250px;
    margin: 0 auto;
}

/* makes it so that the full image is visible in the smaller sized box, and not just a part of it */
#crossfit-image img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

/* General styling for the footer element */
footer {
    background-color: #739992;
    margin-top: 50px;
    width: 100%;
    height: 150px;
    text-align: center;
} /* set the height and width of the footer, as well as make sure that it is placed underneath the other elements in the webbpage */

footer ul {
    list-style-type: none;
    display: inline-block;
    text-align: left;
    padding-top: 50px;
} /* makes sure that the social media icons/links is in the right position, at the center of the footer */

footer a i {
    color: #1B5448;
    font-size: 250%;
    letter-spacing: 50px;
} /* adds some style and size for the favicons for the social media links */
